.header {
  display: flex;
  flex-direction: row;
  padding: 8px 24px;
  background-color: var(--color-secondary-olive-green);
  color: var(--text-primary);
}

.header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.header .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
  margin-left: auto;
}

@media (max-width: 600px) {
  .header nav {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .header .user {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}